<div class="card card-extra-ingredient">
    <div class="card-body">
        <p class="ex-item">{{ extraIngridient.name }} <span style="float : right;">{{ extraIngridient.currency }}{{ extraIngridient.price }}</span> </p>
    </div>
</div>