{% extends 'base.html.twig' %}

{% block title %}Hello ExtraIngridientController!{% endblock %}

{% block body %}
    <table id="extraIngridients" class="table table-striped table-field">
        <thead>
        <tr>
            <th >id</th>
            <th >name</th>
            <th >currency</th>
            <th >price</th>
        </tr>
        </thead>
        <tbody>
        {% for extraIngridient in extraIngridients %}
            <tr>
                <td >{{ extraIngridient.id }}</td>
                <td >{{ extraIngridient.name }}</td>
                <td >{{ extraIngridient.currency }}</td>
                <td >{{ extraIngridient.price }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}
