{% extends 'base.html.twig' %}

{% block title %}Hello SauceController!{% endblock %}

{% block body %}
   <div class="container">
      <div class="row">
         <div class="col s4">
            <h2 class="caption-bowl">Pick a sauce</h2>
         </div>
      </div>
      <div class="row">
         <div class="col s4">
            <p class="text-bowl">Most sauces mix well with the base of the poke bowl. Make sure to read their ingredients and pick one that's right for you
            <p/>
         </div>
      </div>
      <div class="row">
         {% for sauce in sauces %}
            <div class="col s6">
               {% include 'sauce/sauce-component.html.twig' with {'sauce': sauce} %}
            </div>
         {% endfor %}
      </div>
   </div>
{% endblock %}
{% block footer %}
   <div class="container">
      <div class="row">
         <div class="col s8 col-footer">
            <p>Step 4 of 6</p>
         </div>
         <div class="col s4">

            <a class="waves-effect waves-light btn btn-previous" href="http://localhost:8080/base">Back</a>
            <a class="waves-effect waves-light btn btn-next" href="http://localhost:8080/ingridient">Next</a>

         </div>
      </div>
      <div class="row">
         <div class="col s8">
            <div class="progress">
               <div class="determinate" style="width: 66.6%"></div>
            </div>
         </div>
      </div>
   </div>

{%endblock %}