<div class="card card-sauce">
    <div class="card-body">
        <h2 class="card-title">{{ sauce.name }}</h2>
        <p id="card-text">
            {{ sauce.description }}
        </p>
    </div>
</div>