{% extends 'base.html.twig' %}

{% block title %}Pick ingredients{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s4">
                <h2 class="caption-bowl">Pick other ingredients</h2>
            </div>
        </div>
        <div class="row">
            <div class="col s4">
                <p class="text-bowl">
                    This is what it's all about. Pick added ingredients to make your poke bowl perfectly to your taste.
                <p/>
            </div>
        </div>
        <div class="row">
            {% for ingredient in ingredients %}
                <div class="col s3 " id="list-ingredient">
                    <p>
                        <label id="label-checkbox"  >
                            <input type="checkbox" id="test" name="test" class="filled-in" data-id="{{ ingredient.id }}" />
                            <span>{{ ingredient.name }}</span>
                        </label>
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block footer %}
    <div class="container">
        <div class="row">
            <div class="col s8 col-footer">
                <p>Step 5 of 6</p>
            </div>
            <div class="col s4">

                <a class="waves-effect waves-light btn btn-previous" href="http://localhost:8080/sauce">Back</a>
                <a class="waves-effect waves-light btn btn-next" id="ingredient-next">Next</a>

            </div>
        </div>
        <div class="row">
            <div class="col s8">
                <div class="progress">
                    <div class="determinate" style="width: 83.3%"></div>
                </div>
            </div>
        </div>
    </div>
{%endblock %}
{% block javascriptsBody %}
    <script src="{{ asset('js/update-checkbox-function.js') }}"></script>
    <script src="{{ asset('js/ingredient.js') }}"></script>
{% endblock%}