.btn-card{
    color: #B0413E;
    border-color: #B0413E;
    background-color: white;
    float: right;
    border-radius: 7px;
    margin-top: 14px;
    margin-right: 10px;
    border-style: solid;
    border-width: 1px;
}

.btn-card:hover{
    color: white;
    background-color: lightcoral;
}

.nav-wrapper{
    background-color: white;
}

.brand-logo{
    color: black;
    width: 80px;
    height: 64px;
}
#logo{
    width: 80px;
    height: 64px;
}


.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 150px auto 0;
    width: calc(280px * 4);
}

.card-bowl {
    box-shadow: 0 3px 10px 0 #aaa;
    cursor: pointer;
    height: 100%;
    position: relative;
    width: 300px;
    border-radius: 7px;
    margin: 0px;
}

.bowl-item-js{
    padding: 0px;
}

.active, .card-bowl:hover{
    border-color: #B0413E;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
}

.card .card-title{
    font-size: 24px;
    font-weight: bolder;
    padding-top: 15px;
    margin-top: 0px;
}

.card h2 {

    font-size: 20px;
    font-weight: bolder;
    text-align: left;
    margin-left: 20px;
}

.card.visited {
    border-style: solid;
    border-width: thick;
    border-color: #B0413E;
}

@media (max-width: 1100px) {
    .cards {
        grid-template-columns: 1fr 1fr;
        width: calc(280px * 2);
    }
    .card {
        margin: 0 auto 2rem;
    }
}

@media (max-width: 768px) {
    .cards {
        display: block;
        width: 100vw;
    }
    .card {
        margin: 0 auto 2rem;
    }
}

.card-img-top{
    margin-top: 15px;
    margin-left: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card-text{
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

.s3{
    display: flex;
    align-items: center;
    justify-content: center;
}

.s4{
    display: flex;
    align-items: center;

    margin-bottom: 0px;
}

body {
    background-color: #f7f8fa;
    margin-bottom: 100px;
}

.caption-bowl{
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 0px;
}
.row{
    margin-bottom: 0px;
}

footer{
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;

}

.make{
    padding: 0;
}

.col-footer{
    text-align: left;
}

.progress{
    background-color: #dbc8c6;
    color: #B0413E;
}

.btn-next{
    color: white;
    float: right;
    border-radius: 7px;
    margin-top: 14px;
    margin-right: 10px;
    background-color: #3c4a6c;
    height: 40px;
    width: 100px;
    text-align: center;
}

.btn-next:hover{
    background-color: lightcoral;
    border-color: #3c4a6c;
    border-style: solid;
    border-width: 1px;
}

.btn-previous{
    color: #3c4a6c;
    float: right;
    border-radius: 7px;
    margin-top: 14px;
    margin-right: 10px;
    background-color: white;
    height: 40px;
    width: 100px;
    text-align: center;
    border-color: #3c4a6c;
    border-style: solid;
    border-width: 1px;
}

.btn-previous:hover{
    color: white;
    background-color: lightcoral;
}

.progress .determinate{
    background-color: #B0413E;
}

#size-price{
    font-size: 24px;
    font-weight: bolder;
}
.card-size{
    box-shadow: 0 3px 10px 0 #aaa;
    cursor: pointer;
    height: 200px;
    position: relative;
    width: 500px;
    border-radius: 7px;
}

.card-size:hover{
    border-color: #B0413E;
    border-style: solid;
    border-width: 1px;
}

.card-base{
    box-shadow: 0 3px 10px 0 #aaa;
    cursor: pointer;
    height: 350px;
    position: relative;
    width: 300px;
    border-radius: 7px;
}

.card-base:hover{
    border-color: #B0413E;
    border-style: solid;
    border-width: 1px;
}

.caption-size{
    font-size: 30px;
    font-weight: bolder;
}

.card-sauce{
    box-shadow: 0 3px 10px 0 #aaa;
    cursor: pointer;
    position: relative;
    border-radius: 7px;
    height: 150px;
}
.card-sauce:hover{
    border-color: #B0413E;
    border-style: solid;
    border-width: 1px;
}

#list-ingredient{
    justify-content: left;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    top: 0;
    width: 20px;
    height: 20px;
    border: red;
    background-color: lightcoral;
    color: black;
    z-index: 0;
}
#label-checkbox{
    color: black;
}

.btn-add-to-cart{
    color: white;
    float: right;
    border-radius: 7px;
    margin-top: 14px;
    margin-right: 10px;
    background-color: #3c4a6c;
    height: 40px;
    width: 150px;
    text-align: center;
}

.btn-add-to-cart:hover{
    background-color: lightcoral;
    border-color: #3c4a6c;
    border-style: solid;
    border-width: 1px;
}

.card-extra-ingredient{
    box-shadow: 0 3px 10px 0 #aaa;
    cursor: pointer;
    position: relative;
    border-radius: 7px;
    height: 60px;
    width: 400px;
    padding: 1px;
}

.card-extra-ingredient:hover{
    border-width: 1px;
    border-color: #B0413E;
    border-style: solid;
}

.ex-item{
    font-size: 20px;
    font-weight: bolder;
    margin: 15px;
}

.links{
    color: black;
}

.checkout-heading{
    font-size: 2.5rem;
    font-weight: bolder;
    padding-left: 100px;
}

.btn-delete-order-item {
    background-color: #f7f8fa;
    border: none;
    color: black;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
}

.btn-delete-order-item:hover{
    background-color: darkgrey;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

input[type=number]:not(.browser-default) {
    width: 35px;
    border-bottom: #B0413E;
}

.subtotal{
    text-align: left;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.subtotal-price{
    text-align: right;
    font-size: 18px;
    font-weight: bolder;
    margin-top: 15px;
    margin-bottom: 5px;
}

.delivery{
    text-align: left;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}


.delivery-price{
    text-align: right;
    font-size: 18px;
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 5px;
}

.total{
    text-align: left;
    font-size: 25px;
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 5px;
}


.total-price{
    text-align: right;
    font-size: 25px;
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 5px;
    color: lightcoral;
}

.btn-new-item{
    color: #B0413E;
    border-color: #B0413E;
    background-color: white;
    float: left;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    text-transform: none;
    height: 35px;
    line-height: 28px;
    width: 80px;
    font-size: 12px;
    padding: 1px;
    z-index: 0;
}

.btn-checkout{
    color: white;
    border-color: lightcoral;
    background-color: lightcoral;
    float: left;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    text-transform: none;
    height: 35px;
    line-height: 28px;
    width: 100%;
    font-size: 12px;
    padding: 1px;
    z-index: 0;
}

.btn-new-item:hover {
    color: white;
    background-color: lightcoral;
}

.btn-checkout:hover {
    color: #B0413E;
    border-color: #B0413E;
    background-color: white;
}
