{% extends 'base.html.twig' %}

{% block title %}Pick a size{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s4">
                <h2 class="caption-size">Pick a size</h2>
            </div>
        </div>
        <div class="row" id="size-rows">
            {% set currentOrder = current_order() %}
            {{ dump (currentOrder) }}
            {% for size in sizes %}
                {% set activeSize = size.id == currentOrder.size.id %}
                <div class="col s4">
                    {% include 'size/size-component.html.twig' with {'size': size, 'isActive': activeSize} %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block footer %}
    <div class="container">
        <div class="row">
            <div class="col s8 col-footer">
                <p>Step 2 of 6</p>
            </div>
            <div class="col s4">

                <a class="waves-effect waves-light btn btn-previous" href="http://localhost:8080/bowl">Back</a>
                <a class="waves-effect waves-light btn btn-next" id="size-next">Next</a>

            </div>
        </div>
        <div class="row">
            <div class="col s8">
                <div class="progress">
                    <div class="determinate" style="width: 33.3%"></div>
                </div>
            </div>
        </div>
    </div>

{%endblock %}
{% block javascriptsBody %}
    <script src="{{ asset('js/active-function.js') }}"></script>
    <script src="{{ asset('js/update-function.js') }}"></script>
    <script src="{{ asset('js/size.js') }}"></script>
{% endblock %}