{% extends 'base.html.twig' %}

{% block title %}Hello UserOrderController!{% endblock %}

{% block body %}
    <table id="user_order" class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Item Order</th>
        </tr>
        </thead>
        <tbody>
        {% for user_order in user_orders %}
            <tr>
                <td>{{ user_order.id }}</td>
                <td>{{ user_order.itemOrder.id }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
