{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block body %}
    <h1 class="checkout-heading">Checkout</h1>
    {% set deliveryPrice = 0 %}
    {% set orderPrice = 0 %}
    {% set totalOrderPrice = 0 %}
    {% set totalPrice = 0 %}
    <div>
        {% include 'user_order/user-order-table.html.twig' %}
    </div>
{% endblock %}
{% block footer %}
{%endblock %}
{% block javascriptsBody %}
    <script src="{{ asset('js/user-order-delete.js') }}"></script>
{% endblock%}
