{% extends 'base.html.twig' %}

{% block title %}Hello UserOrderController!{% endblock %}

{% block body %}
    {% for itemOrder in userOrder.itemOrders %}
            {{ dump(itemOrder) }}
    {% endfor %}
    <table id="user_order" class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Item Order</th>
        </tr>
        </thead>
        <tbody>
        {% for itemOrder in userOrder.itemOrders %}
            <tr>
{#                <td>{{ userOrder.id }}</td>#}
{#                <td>{{ userOrder. }}</td>#}
{{ dump(itemOrder) }}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
