{% extends 'nocart.html.twig' %}

{% block title %}Register!{% endblock %}

{% block body %}
    <div class="container"></div>
    <div class="row">
        <div class="col s4"></div>
        <div class="col s4 ">
            <div class="card card-log-in" >
                <h1 class="log-in-heading">Please register</h1>
                <label class="log-in-labels" for="inputUsername">Username</label>
                <input type="text" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
                <label class="log-in-labels" for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                <label class="log-in-labels" for="inputRepeatPassword">Repeat password</label>
                <input type="password" name="password" id="inputRepeatPassword" class="form-control" autocomplete="current-password" required>
                <label class="log-in-labels" for="inputName">Name and surname</label>
                <input type="text" name="name" id="inputName" class="form-control" required>
                <label class="log-in-labels" for="inputAddress">Address</label>
                <input type="text" name="address" id="inputAddress" class="form-control" required>
                <label class="log-in-labels" for="inputPhoneNumber">Phone number</label>
                <input type="text" name="phone" id="inputPhoneNumber" class="form-control" required>
                {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
                #}
                <button class="btn btn-lg btn-sign-in" type="submit" id="register">Register</button>

            </div>
        </div>
        <div class="col s4"></div>
    </div>
    </div>
{% endblock %}
{% block javascriptsBody %}
    <script src="{{ asset('js/register.js') }}"></script>
{% endblock %}
