{% extends 'base.html.twig' %}

{% block title %}Hello ItemOrderExtraIngridientController!{% endblock %}

{% block body %}
    <table id="item_order_extra_ingridient" class="table table-striped table-field">
        <thead>
        <tr>
            <th >id</th>
            <th >item_order_id</th>
            <th >ingridient_id</th>
        </tr>
        </thead>
        <tbody>
        {% for itemOrderExtraIngridient in itemOrderExtraIngridients %}

            <tr>
                <td >{{ itemOrderExtraIngridient.id }}</td>
                <td >{{ itemOrderExtraIngridient.itemOrderId.id }}</td>
                <td >{{ itemOrderExtraIngridient.extraIngridientId.id }}</td>

            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}
