{% extends 'base.html.twig' %}

{% block title %}Choose Bowl{% endblock %}

{% block body %}

        <div class="row">



        {% for bowl in bowls %}

                <div class="col s3">{% include 'bowl/bowl-component.html.twig' with {'bowl': bowl} %}</div>
        {% endfor %}
        </div>


{% endblock %}
