<div class="card card-extra-ingredient">
    <div class="card-body">
        <p class="ex-item">{{ extraIngredient.name }} <span style="float : right;">{{ extraIngredient.currency }}{{ extraIngredient.price }}</span> </p>
    </div>
</div>