<div class="card card-extra-ingredient" data-id="{{ extraIngredient.id }}">
    <div class="card-body">
        <p class="ex-item">{{ extraIngredient.name }} <span style="float : right;">{{ extraIngredient.price|price(2,'.',',') }}</span> </p>
    </div>
</div>