{% extends 'base.html.twig' %}

{% block title %}Pick extra ingredients{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s4">
                <h2 class="caption-bowl">Pick an extra ingredient</h2>
            </div>
        </div>
        <div class="row">
            <div class="col s4">
                <p class="text-bowl">
                    Weather it's more sashimi or an ingredient you'd like to try out, feel free to add whatever you'd like.
                <p/>
            </div>
        </div>
        <div class="row" id="extra-ingredient-rows">
            {% set currentOrder = current_extra_ingredient() %}
            {{ dump(currentOrder) }}
            {% for extraIngredient in extraIngredients %}
                <div class="col s12">
                    {% include 'extra_ingredient/extra-ingredient-component.html.twig' with {'extraIngredient': extraIngredient} %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block footer %}
    <div class="container">
        <div class="row">
            <div class="col s8 col-footer">
                <p>Step 6 of 6</p>
            </div>
            <div class="col s4">

                <a class="waves-effect waves-light btn btn-previous" href="http://localhost:8080/ingredient">Back</a>
                <a class="waves-effect waves-light btn btn-add-to-cart" id="extra-ingredient-next">Add to cart</a>

            </div>
        </div>
        <div class="row">
            <div class="col s8">
                <div class="progress">
                    <div class="determinate" style="width: 100%"></div>
                </div>
            </div>
        </div>
    </div>

{%endblock %}
{% block javascriptsBody %}
    <script src="{{ asset('js/active-multiple-function.js') }}"></script>
    <script src="{{ asset('js/update-multiple-function.js') }}"></script>
    <script src="{{ asset('js/extra_ingredient.js') }}"></script>
{% endblock %}